    h1, h2, h3 {
    color: #dc7900;
  }
  
  a {
    color: #0066cc;
  }
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 20px;
  }
  
  h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .itty:hover {
    cursor: grab;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  p {
    line-height: 1.5;
  }
  
  em {
    font-style: italic;
  }
  .container {
  width: 40%;
  margin: 90px;
  margin-top: 200px;
  max-width: 1200px;
}
.itty {
    font-style: italic;
}
.blooy {
    color: #0063c7;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
a:hover {
    color: #990000;
  }
  
  .button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .button:hover {
    animation: pulse 1s infinite;
    cursor: grab;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
  .logo {
    animation: pulse 2s infinite;
  }
  body {
			background: linear-gradient(to bottom right, rgb(255, 144, 196), rgb(209, 111, 255), rgb(123, 207, 255), rgb(83, 140, 255), rgb(122, 255, 107), #f00);
			background-size: 1800% 1800%;
			animation: rainbow 18s ease infinite;
		}

		@keyframes rainbow {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #0040c1;
            border-radius: 10px;
            height: auto;
            padding: 10px 30px;
          }
          
          .left h1 {
            color: #fff;
            font-size: 34px;
            margin: 0;
          }
          
          .right {
            display: flexbox;
            text-align: end;
          }

          .image {
            position: absolute;
            top: 25%;
            right: 0;
            margin-top: 20px; /* Add some space between the top of the screen and the image */
            margin-right: 20px; /* Add some space between the right edge of the screen and the image */
            border-radius: 4%;
          }


          @media (max-width: 600px) {
            .image {
              position: static; /* Remove absolute positioning */
              float: right; /* Float the image to the right */
              margin: 10px; /* Add some space around the image */
              width: 100%; /* Set the width to 100% of the container */
            }
          }
          
          .right button {
            background-color: transparent;
            border: none;
            color: #81c0ff;
            cursor: pointer;
            font-size: 16px;
            margin-left: 10px;
            padding: 10px 15px;
            border-radius: 10px;
            font-weight: bold;
          }
          
          .right button:hover {
            background-color: #000c8d;
            animation: smallpulse 1s infinite;
          }

          @keyframes smallpulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.1);
            }
            100% {
              transform: scale(1);
            }
          }

          @media only screen and (max-width: 768px) {
            h1 {
              font-size: 48px;
            }
          
            h2 {
              font-size: 18px;
            }
          
            .button {
              font-size: 16px;
              padding: 6px 12px;
            }
          
            .logo {
              width: 60px;
              height: 60px;
            }
          
            .container {
              margin: 10px;
            }
          
            nav {
              padding: 5px;
            }
          
            .left h1 {
              font-size: 24px;
            }
          }
          
          
          